# automatically normalize line endings to LF for all text files (not for binari$
* test=auto eol=lf
# for files with .cmd (case-insensitive) extension, enforce CRLF (Windows style$
*.[cC][mM][dD] text eol=crlf
# for .bat files (Windows batch scripts), use CRLF endings, consistent with Win$
*.[bB][aA][tT] text eol=crlf
# for PowerShell script files (.ps1), enforce CRLF endings
*.[pP][sS]1 text eol=crlf
